<footer class="main-footer">

<div class="footer-band">


<section style="display:flex; flex-wrap: wrap; max-width: 60%; 
box-sizing: border-box; margin-left: 65px; font-size: 16px; text-align: justify;">
<div style="font-weight: bold;">OFFICE ADDRESS</div > 
<p>
Our office is conveniently located at No 22, Aguiyi Ironsi Street,
Merit House, Maitama, Abuja with modern equipment, spacious and 
conducive professional working environment. 

</p>

<div style="font-weight: bold;">OUR VISION</div > 
<p>To be Ranked among the global preference in Empowering and Connecting travelers
through seamless travel experiences and personalized service and inspire tourist 
to explore the world with confidence and ease.
</p>
</section>



<article id="contacts" class="content-section contacts">
<header>
<h1>Contact Us</h1>
</header>
<section>
<ul>
<li>+2348033888900 <span class="fa fa-lg fa-whatsapp"></span></li>
<li>alyttravels@yahoo.com <span class="fa fa-lg fa-envelope"></span></li>
<li>www.alyttravels.com <span class="fa fa-lg fa-globe"></span></li>
<li>+2348033888900 / +2349087755379 <span class="fa fa-lg fa-phone"></span></li>
<li>22, Aguiyi Ironsi Street, Maitama, Abuja.<span
class="fa fa-lg fa-map-marker"></span></li>
</ul>
</section>
</article>
<div class="logo"></div>
</div>
<div class="social-media">
<h1>Let's keep in touch</h1>
<div class="social-media-links clearfix">
<a href="intent://+2348033888900#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end"
class="fa fa-lg fa-whatsapp whatsapp"></a>
<a href="https://web.facebook.com/ReaAlyt/" target="_blank" class="fa fa-lg fa-facebook facebook"></a>
<a href="https://twitter.com/Alyttr" target="_blank" class="fa fa-lg fa-twitter twitter"></a>
<a href="https://www.linkedin.com/company/ReaAlyt/" target="_blank"
class="fa fa-lg fa-linkedin linkedin"></a>
<a href="https://www.instagram.com/Real_Alyt/" target="_blank" class="fa fa-lg fa-instagram instagram"></a>
<!-- <a href="https://www.tripadvisor.com/Profile/Time2Fly5" target="_blank" class="fa fa-lg fa-tripadvisor tripadvisor"></a> -->
</div>
</div>
<!-- <div class="copyright-info">Copyright &copy; 2021 Alyt Travels & Tours Ltd. All Rights Reserved.</div> -->

<div class="copyright-info">
Copyright
&copy;
<span id="copyright">
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span>
Alyt Travels & Tours Ltd. All Rights Reserved.
</div>

</footer>
